{% extends 'base.html' %} 
<h1>ToDo Homepage</h1>

{% block header %}
<h1>Todo List</h1>
<button type="button" onclick="location.href"{% url 'admin:todo_todo_add' %}"" class="btn btn-primary">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
  </svg>
  Add Todo
</button>
{% endblock header %}

{% block col_header %}
<div class="row">
    <div class="col">
        <a>Things Todo</a> 
    </div>
    <div class="col">
        <a>Due Date</a>
    </div>
    <div class="col" align="right">
        <a>Actions</a>
    </div>
</div> 
{% endblock col_header %}

{% block content %}
{% for todo in todo_list %}
<div class="row">
    <div class="col">
        <a style="color:black">{{ todo.title }} </a>
    </div>
    <div class="col">
        <a style="color:black">{{ todo.due_date }}</a>
    </div>
    <div class="col">
        <div class="container" align="right">
            <a name="edit" class="btn btn-outline-success" href="{% url 'admin:todo_todo_change' todo.id %}" role="button">
                Edit
            </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                </svg>


              <a type="submit" name="delete" class="btn btn-danger" >
                Delete</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                </svg>
                
           
        </div>
    </div>
  </div>
{% endfor %}
{% endblock content%}
{% comment %} <ul>{{ todo.id }} <a href="admin:todo_app/todo/{{ todo.title }}/change">Edit</a> <a href="admin:todo_app/todo/{{ todo.id }}">Delete</a></ul> {% endcomment %}

{% comment %} <a class="btn btn-outline-success" href="{% url 'admin:posts_todo_change' todo.id %}" role="button">
    Edit Task
  </a> {% endcomment %}